{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

{% include "header.html" %}

<br>
<br>
<br>
<br>

    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/edit-bg.jpg')}}')">
        <div class="overlay"></div>
        <div class="container">
            <h1>Upload Your file here!</h1>





        </div>
    </header>

    <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1>Upload Your file here!</h1>
            <br>
            {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
      </div>
    </div>
  </div>
{% include "footer.html" %}

{% endblock %}